
/* grid >> 24 Columns
----------------------------------------------------------------------------------------------------*/


.lt-ie8 {

  .grid_1 {
    width:4.166%;
  }

  .grid_2 {
    width:8.332%;
  }

  .grid_3 {
    width:12.499%;
  }

  .grid_4 {
    width:16.666%;
  }

  .grid_5 {
    width:20.832%;
  }

  .grid_6 {
    width:24.999%;
  }

  .grid_7 {
    width:29.166%;
  }

  .grid_8 {
    width:33.332%;
  }

  .grid_9 {
    width:37.499%;
  }

  .grid_10 {
    width:41.666%;
  }

  .grid_11 {
    width:45.832%;
  }

  .grid_12 {
    width:50%;
  }

  .grid_13 {
    width:54.166%;
  }

  .grid_14 {
    width:58.332%;
  }

  .grid_15 {
    width:62.499%;
  }

  .grid_16 {
    width:66.666%;
  }

  .grid_17 {
    width:70.832%;
  }

  .grid_18 {
    width:75.0%;
  }

  .grid_19 {
    width:79.166%;
  }

  .grid_20 {
    width:83.332%;
  }

  .grid_21 {
    width:87.499%;
  }

  .grid_22 {
    width:91.666%;
  }

  .grid_23 {
    width:95.832%;
  }

  .grid_24 {
    width:100%;
  }



  /* Prefix Extra Space >> 24 Columns
  ----------------------------------------------------------------------------------------------------*/


  .prefix_1 {
    padding-left:4.166%;
  }

  .prefix_2 {
    padding-left:8.332%;
  }

  .prefix_3 {
    padding-left:12.499%;
  }

  .prefix_4 {
    padding-left:16.666%;
  }

  .prefix_5 {
    padding-left:20.832%;
  }

  .prefix_6 {
    padding-left:25.0%;
  }

  .prefix_7 {
    padding-left:29.166%;
  }

  .prefix_8 {
    padding-left:33.332%;
  }

  .prefix_9 {
    padding-left:37.5%;
  }

  .prefix_10 {
    padding-left:41.666%;
  }

  .prefix_11 {
    padding-left:45.832%;
  }

  .prefix_12 {
    padding-left:50.0%;
  }

  .prefix_13 {
    padding-left:54.166%;
  }

  .prefix_14 {
    padding-left:58.332%;
  }

  .prefix_15 {
    padding-left:62.499%;
  }

  .prefix_16 {
    padding-left:66.666%;
  }

  .prefix_17 {
    padding-left:70.832%;
  }

  .prefix_18 {
    padding-left:75.0%;
  }

  .prefix_19 {
    padding-left:79.166%;
  }

  .prefix_20 {
    padding-left:83.332%;
  }

  .prefix_21 {
    padding-left:87.499%;
  }

  .prefix_22 {
    padding-left:91.666%;
  }

  .prefix_23 {
    padding-left:95.832%;
  }



  /* Suffix Extra Space >> 24 Columns
  ----------------------------------------------------------------------------------------------------*/


  .suffix_1 {
    padding-right:4.166%;
  }

  .suffix_2 {
    padding-right:8.332%;
  }

  .suffix_3 {
    padding-right:12.499%;
  }

  .suffix_4 {
    padding-right:16.666%;
  }

  .suffix_5 {
    padding-right:20.832%;
  }

  .suffix_6 {
    padding-right:25.0%;
  }

  .suffix_7 {
    padding-right:29.166%;
  }

  .suffix_8 {
    padding-right:33.332%;
  }

  .suffix_9 {
    padding-right:37.499%;
  }

  .suffix_10 {
    padding-right:41.666%;
  }

  .suffix_11 {
    padding-right:45.832%;
  }

  .suffix_12 {
    padding-right:50.0%;
  }

  .suffix_13 {
    padding-right:54.166%;
  }

  .suffix_14 {
    padding-right:58.332%;
  }

  .suffix_15 {
    padding-right:62.499%;
  }

  .suffix_16 {
    padding-right:66.666%;
  }

  .suffix_17 {
    padding-right:70.832%;
  }

  .suffix_18 {
    padding-right:75.0%;
  }

  .suffix_19 {
    padding-right:79.166%;
  }

  .suffix_20 {
    padding-right:83.332%;
  }

  .suffix_21 {
    padding-right:87.499%;
  }

  .suffix_22 {
    padding-right:91.666%;
  }

  .suffix_23 {
    padding-right:95.832%;
  }



  /* Push Space >> 24 Columns
  ----------------------------------------------------------------------------------------------------*/


  .push_1 {
    left:4.166%;
  }

  .push_2 {
    left:8.332%;
  }

  .push_3 {
    left:12.499%;
  }

  .push_4 {
    left:16.666%;
  }

  .push_5 {
    left:20.832%;
  }

  .push_6 {
    left:25.0%;
  }

  .push_7 {
    left:29.166%;
  }

  .push_8 {
    left:33.332%;
  }

  .push_9 {
    left:37.499%;
  }

  .push_10 {
    left:41.666%;
  }

  .push_11 {
    left:45.832%;
  }

  .push_12 {
    left:50.0%;
  }

  .push_13 {
    left:54.166%;
  }

  .push_14 {
    left:58.332%;
  }

  .push_15 {
    left:62.499%;
  }

  .push_16 {
    left:66.666%;
  }

  .push_17 {
    left:70.832%;
  }

  .push_18 {
    left:75.0%;
  }

  .push_19 {
    left:79.166%;
  }

  .push_20 {
    left:83.332%;
  }

  .push_21 {
    left:87.5%;
  }

  .push_22 {
    left:91.666%;
  }

  .push_23 {
    left:95.832%;
  }



  /* Pull Space >> 24 Columns
  ----------------------------------------------------------------------------------------------------*/


  .pull_1 {
    left:-4.166%;
  }

  .pull_2 {
    left:-8.332%;
  }

  .pull_3 {
    left:-12.499%;
  }

  .pull_4 {
    left:-16.666%;
  }

  .pull_5 {
    left:-20.832%;
  }

  .pull_6 {
    left:-25.0%;
  }

  .pull_7 {
    left:-29.166%;
  }

  .pull_8 {
    left:-33.332%;
  }

  .pull_9 {
    left:-37.499%;
  }

  .pull_10 {
    left:-41.666%;
  }

  .pull_11 {
    left:-45.832%;
  }

  .pull_12 {
    left:-50.0%;
  }

  .pull_13 {
    left:-54.166%;
  }

  .pull_14 {
    left:-58.332%;
  }

  .pull_15 {
    left:-62.499%;
  }

  .pull_16 {
    left:-66.666%;
  }

  .pull_17 {
    left:-70.832%;
  }

  .pull_18 {
    left:-75.0%;
  }

  .pull_19 {
    left:-79.166%;
  }

  .pull_20 {
    left:-83.332%;
  }

  .pull_21 {
    left:-87.499%;
  }

  .pull_22 {
    left:-91.666%;
  }

  .pull_23 {
    left:-95.832%;
  }

}
